.shop_header {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  padding: 15px;
  position: relative; 
}
.shop_header .shop_items {
  border: 1px solid;
  width: 236px;
  height: 20rem;
  background-color: rgba(0, 255, 255, 0.137);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;

  padding: 5px;
}
.shop_header .shop_items .shop_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_items .shop_item .item_name_shop {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 17px;
  margin-bottom: 2px;
}
.shop_items .shop_item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-bottom: 5px;
}
.shop_items .shop_item .shop_price {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

.shop_items .shop_item .shop_color {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}
