* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.log_container {
  display: flex;
  height: 500px;
  width: 800px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 20px black;
}

.log_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.322);
}

.log_form .sign_in_title {
  color: rgb(10, 6, 6);
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 40px;
}

.log_box {
  padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  background-color: rgb(235, 223, 209);
  font-weight: 400;
}
.log_subBtn {
  padding: 12px 30px;
  width: 40%;
  margin-top: 20px;
  background-color: black;
  color: aliceblue;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
}

.log_subBtn:hover {
  cursor: pointer;
  background-color: tomato;
}

.log_form a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
.log_form a:hover {
  cursor: pointer;
  color: tomato;
}
 

/* Right side */
.left_side {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
  background-color: rgb(154, 179, 179);
}
.left_side img {
  width: 400px;
  /* height: 500px; */
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
  .container {
    /* border: 1px solid black; */
    margin: auto;
    /* width: 300px; */
    width: auto;
    align-items: center;
    align-content: center;
    margin-top: 190px;
    box-shadow: 5px 5px 20px black;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: aqua;
  }

  .right_Side {
    display: none;
  }

  .form h2 {
    font-size: 3rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 20px;
  }

  .box {
    padding: 12px;
    max-width: 45%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    background-color: rgb(235, 223, 209);
    font-weight: 700;
  }
  .subBtn {
    padding: 12px 30px;
    /* width: 30%; */
    margin-top: 40px;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
  }
}
