.view {
  display: flex;
}
.view .viewContainer {
  flex: 5.5;
  background-color: rgba(207, 238, 238, 0.432);
}
.view .view_header {
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(36, 24, 24);
  box-shadow: 2px 4px 10px 1px rgba(194, 183, 183, 0.966);
}
.view_header h2 {
  color: rgb(125, 179, 197);
  font-size: 20px;
}
.view_body {
  margin: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgb(36, 24, 24);
  box-shadow: 2px 4px 10px 1px rgba(194, 183, 183, 0.966);
}

.view_table {
  border: 2px #ac9d9d solid;
  width: 600px;
  background-color: #1f1c1c;
  /* height: 500px; */
  max-height: 480px;
  min-height: 200px;
}

.viwerow {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(148, 161, 157, 0.418);
}
.view_tablebody {
  background-color: rgba(250, 235, 215, 0.623);
}
.view_tablebody img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  display: flex;
  border-radius: 50%;
}
.view_tabletop {
  height: 15px;
  min-width: 20px;
  text-align: center;
}
.view_tablecell {
  min-width: 20px;
  height: 20px;
}

.view_tablecell button {
  width: 54px;
  margin-right: 2px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(63, 48, 38, 0.603) inset;
}

.view_tablecell .delete:hover {
  box-shadow: 1px 1px 15px rgba(218, 93, 9, 0.486);
}
.view_tablecell .edit:hover {
  box-shadow: 1px 1px 15px rgba(9, 218, 9, 0.329);
}
