body {
  height: 100%;
  background-color: rgb(255, 255, 255);
}

/* --------- header section in navbar ------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: rgb(23, 56, 163);
}

.sidebar .topic {
  font-size: 16px;
  font-weight: 700;
  color: cadetblue;
}

.sidebar .logo {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar header {
  position: relative;
  margin-top: 5%;
  /* background-color: rebeccapurple; */
}

.sidebar .logo_text img {
  width: 60px;
  border-radius: 20px;
}

.sidebar header .logo_text {
  display: flex;
  align-items: center;
}

header .logo_text .header_text {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
}

.header_text .header_name {
  font-weight: 900;
}

.header_text .header_subname {
  margin-top: 2px;
}

.sidebar header .bxs-chevrons-left {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  height: 26px;
  width: 24px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: rgb(34, 23, 23);
  font-size: 22px;
}

.sidebar header .bxs-chevrons-right {
  position: absolute;
  margin-top: 100%;
  top: 10px;
  right: 1px;
  transform: translateY(-50%);
  height: 26px;
  width: 24px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: rgb(34, 23, 23);
  font-size: 22px;
}

/* ---------- body section in navbar ------------------------------*/

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10px;
  font-size: 20px;
}

.sidebar li .icons,
.sidebar li .text {
  color: rgb(218, 198, 198);
  transition: 1s;
  padding: 5%;
}

.sidebar .search_box {
  background: rgba(42, 70, 129, 0.527);
}

.search_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background: rgba(42, 70, 129, 0.527);
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  border-radius: 6px;
  transition: 1s;
}

.sidebar li a:hover {
  background-color: rgb(18, 39, 39);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: white;
}

.sidebar .menu-bar {
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar {
  margin-top: 55px;
}
