* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 500px;
  width: 800px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 5px 5px 20px black;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: rgba(0, 219, 219, 0.212);
}

.form .sign_title {
  font-size: 2rem;
  color: rgb(10, 6, 6); 
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
}

.box {
  padding: 10px;
  width: 65%;
  margin: 9px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  background-color: rgb(235, 223, 209);
  font-weight: 700;
}
.subBtn {
  padding: 12px 30px;
  width: 40%;
  margin-top: 10px;
  background-color: rgb(63, 18, 146);
  color: rgb(175, 175, 175);
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
}

.subBtn:hover {
  cursor: pointer;
  background-color: tomato;
}
.para_text {
  color: rgb(10, 8, 5);
}
.login_link a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  color: rgb(168, 0, 132);
}
form a:hover {
  cursor: pointer;
  color: tomato;
}

/* Right side */
.right_Side {
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 50%;
  background-color: rgb(154, 179, 179);
}
.right_Side img {
  width: 400px;
  height: 500px;
}

/* //------------ */
/* @media screen and (max-width: 600px) {
  body {
    background-color: rgb(45, 172, 155);
  }
  .container {
    margin: auto;
    width: auto;
    align-items: center;
    align-content: center;
    margin-top: 60px;
    box-shadow: 5px 5px 20px black;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: aqua;
  }

  .right_Side {
    display: none;
  }

  .form h2 {
    font-size: 3rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 20px;
  }

  .box {
    padding: 12px;
    max-width: 45%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    background-color: rgb(235, 223, 209);
    font-weight: 400;
  }
  .subBtn {
    padding: 12px 30px;
    margin-top: 40px;
    background-color: black;
    color: aliceblue;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
  }
} */
